* {
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 8px;
    background: #e2e1e0;
    margin: 8px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

.list-child {
    padding: 4px;
    margin: 0;
    border-radius: 8px;
    border-color: cornflowerblue;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
    align-items: center;
}

.items-container .list-child:not(:first-child) {
    margin-top: 8px;
}

.items-container {
    /*width: 100%;*/
    max-width: 400px;
    padding: 8px;
    background: white;
    margin: 8px 8px 32px 0;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
}

.online-version {
    border-color: yellowgreen;

}

.offline-version {
    border-color: orange;
}

#temp-list-root.temp {
    border-style: dashed;
}

.temp {
    border-color: lightgray;

}

input {
    border-radius: 8px;
    border: none;
    padding: 3px;
    padding-left: 8px;
}
.delete-button {
    border-radius: 21px;
    background-color: #eee;
    border: none;
    width: 20px;
    margin-left: 4px;
    height: 20px;
    user-select: none;
    outline: none;
}

button.delete-button:hover {
    background-color: lightgray;
}

.input-container {
    width: 100%;
    max-width: 400px;
    margin: 8px 8px 16px 0;
}

.input-container button {
    margin: 4px 2px;
    background: #ef456a;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px 10px;
    height: 22px;
}

.item-pending-confirm {
    border-color: lightgray;
}